[submodule "backend/user-service"]
	path = backend/user-service
	url = https://github.com/Melvin228/library-user-service.git
[submodule "backend/gateway"]
	path = backend/gateway
	url = https://github.com/Melvin228/library-gateway.git
[submodule "backend/config.server"]
	path = backend/config.server
	url = https://github.com/Melvin228/library-config-server.git
[submodule "backend/eureka-server"]
	path = backend/eureka-server
	url = https://github.com/Melvin228/library-eureka-server.git
